/*Lara Haya Santiago UO289684*/

body 
{
    color: #061255;
    background-color: #B2DDF0;
}

header
{
    background-color: #ffffff;
    padding: 0em;
}

h1
{
    color:#061255; 
    padding: 0.5em;
}

nav
{
    color:#E3E3E3; 
    padding: 0.5em;
}
  