/*Lara Haya Santiago UO289684*/

/* Especificidad: 001 */
section
{
    /* Estilo */
    color: #061255;
    border: 0.2em solid #061255;
    background-color: #ffffff;

    /* Layout */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1em;
    border-radius: 1em;
    width: 95%;
}

/* Especificidad: 001 */
article 
{
    /* Estilo */
    color: #061255;
    border: 0.1em solid #061255;
    background-color: #B2DDF0;

    /* Layout */
    padding: 0.5em;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
}
