/*Lara Haya Santiago UO289684*/

/* Especificidad: 001 */
section
{
    /* Estilo */
    border: 0.2em solid #061255;
    background-color: #ffffff;

    /* Layout */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;    
    border-radius: 1em;
    width: fit-content;
}

/* Especificidad: 001 */
article 
{
    /* Estilo */
    border: 0.1em solid #061255;
    background-color: #B2DDF0;

    /* Layout */
    padding: 0.5em;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
}

/* Especificidad: 001 */
h3
{
    /* Layout */
    margin: 1em;
}

/* Especificidad: 001 */
p,
aside
{
    /* Layout */
    margin-left: 2em;
}