/*Lara Haya Santiago UO289684*/

/*
COLORES
    Texto: 061255
    Fondo: B2DDF0
    Fondo blanco: ffffff
    Texto de enlaces: 0056B3
    Boton inhabilitado: e3e8ec
*/

/* Especificidad: 001 */
body 
{
    color: #061255;
    background-color: #B2DDF0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

/* Especificidad: 001 */
header 
{
    color: #061255;
    background-color: #ffffff;
}

/* Especificidad: 001 */
h1 
{
    color:#061255; 
    background-color: #ffffff;
}

/* Especificidad: 002 */
h1 a 
{
    color: #061255;
    background-color: #ffffff;
    text-decoration: none;
}

/* Especificidad: 001 */
a
{
    color: #0056B3;
    background-color: #ffffff;
}

/* Especificidad: 001 */
nav 
{
    color:#061255;
    background-color: #ffffff; 
}

/* Especificidad: 002 */
nav a 
{
    color: #061255; 
    background-color: #ffffff; 
}

/* Especificidad: 012 */
nav a.active 
{
    color: #0056B3;
    background-color: #ffffff; 
}

/* Especificidad: 002 */
header + p
{
    font-size: small;
}

/* Especificidad: 001 */
table
{
    border-collapse: collapse;
}

/* Especificidad: 001 */
th, td 
{
    border: 0.2em solid #061255;
}

/* Especificidad: 001 */
article 
{
    color: #061255;
    background-color: #ffffff;
    border-radius: 0.8em;
}

/* Especificidad: 002 */
article h3
{
    border-bottom: 2px solid #061255;
}

/* Especificidad: 001 */
summary 
{
    font-weight: bold;
    border: 1px solid #ffffff;
    border-radius: 0.8em;
}

/* Especificidad: 011 */
summary:hover 
{
    border-color: #061255;
}

/* Especificidad: 001 */
details
{
    border-radius: 0.5em;
}

/* Especificidad: 002 */
details ul 
{
    list-style-type: none;
}

/* Especificidad: 002 */
details li
{
    border-bottom: 0.1em solid #f0f0f0;
}

/* Especificidad: 012 */
details li:last-child 
{
    border-bottom: none;
}

/* Especificidad: 001 */
img
{
    border-radius: 0.5em;
}

/* Especificidad: 001 */
video
{
    border-radius: 0.5em;
}

/* Especificidad: 001 */
button
{
    font-weight: bold;
    background-color: #061255;
    color: #ffffff; 
    border: 0.1em solid #061255;
    border-radius: 1em;
}

/* Especificidad: 011 */
button:disabled
{
    font-weight: bold;
    color: #061255;
    background-color: #e3e8ec; 
    border: 0.1em solid #061255;
    border-radius: 1em;
}

/* Especificidad: 021 */
button:hover:enabled
{
    transform: scale(1.05);
}

/* Especificidad: 004 */
main article:has(button):has(img)
{
    border-radius: 1em;
}

/* Especificidad: 004 */
main article:has(button):has(img) img 
{
    transition: all 0.5s;
    border-radius: 0.5em;
}

/* Especificidad: 003 */
article:has(img) button 
{
    border: none;
    border-radius: 50%;
    color: #ffffff;
    background-color: #061255;
    font-size: 1em;
}

/* Especificidad: 003 */
article:has(a) h4
{
    border-top: 0.1em solid #f0f0f0;
}

/* Especificidad: 013 */
article:has(a) h4:first-of-type
{
    border-top: none;
}

/* Especificidad: 003 */
main form input
{
    border-radius: 0.5em;
    padding: 0.5em;
}

/* Especificidad: 003 */
main form p
{
    color: red;
    background-color: #ffffff;
}

/* Especificidad: 006 */
main:has(> article):has(> section) section:has(details) button
{
    color: #ffffff;
    background-color: red;
    border: none;
}

/* Especificidad: 006 */
main:has(> article):has(> section) section article p
{
    color: red;
    background-color: #ffffff;
}
