/* DATOS PERSONALES
   - Nombre: Lara Haya Santiago 
   - UO: UO289684
*/

/* DESCRIPCIÓN DE LAS REGLAS
   - Estilos generales del proyecto MotoGP-Desktop
*/

/* Especificidad: 001 */
body 
{
   font-family: Tahoma, Verdana, Arial, sans-serif;
   color: #0c2d48;
   background-color: #B3DEEF;
}

/* Especificidad: 001 */
header
{
   color: #B3DEEF;
   background-color: #0c2d48;
}

/* Especificidad: 002 */
header h1, nav 
{
   /* 
      Esta línea provoca una advertencia en el validador de CSS, 
      debido a que hay definido un color pero no un color de fondo.
      Sin embargo, el color de fondo es heredado de "header", 
      por lo que esta advertencia no provoca efectos no deseados.
   */
   color: white;
}