/*Lara Haya Santiago UO289684*/

/*
COLORES
    Texto: 061255
    Fondo: B2DDF0
    Fondo blanco: ffffff
    Texto de enlaces: 0056B3
    Boton inhabilitado: e3e8ec
*/

/* Especificidad: 001 */
body 
{
    margin: 0;
    width: 100%;
    max-width: 100%;
}

/* Especificidad: 001 */
header
{
    padding: 2em 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    max-width: 100%;
}

/* Especificidad: 001 */
h1
{
    margin: 0;
    padding: 0.5em;
}

/* Especificidad: 002 */
body > h2 {
    margin: 3em;
}

/* Especificidad: 001 */
nav
{
    display: flex;
    flex-wrap: wrap;
}

/* Especificidad: 002 */
nav a
{
    padding: 1em;
}

/* Especificidad: 001 */
p 
{
    margin: 1em;
}

/* Especificidad: 002 */
header + p
{
    margin: 2em 2em;
}

/* Especificidad: 001 */
main
{
    display: flex;
    margin: 3em;
    gap: 3em;
}

/* Especificidad: 001 */
details
{
    border-radius: 0.5em;
}

/* Especificidad: 002 */
details li 
{
    margin-bottom: 0.8em;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Especificidad: 001 */
article 
{
    margin-bottom: 3em;
    padding: 1.5em;
    border-radius: 0.8em;
}

/* Especificidad: 002 */
article h3
{
    padding-bottom: 1em;
}

/* Especificidad: 001 */
summary 
{
    padding: 0.8em 0.8em;
    border-radius: 0.8em;
}

/* Especificidad: 001 */
img 
{
    border-radius: 0.5em;
    margin: 1em 1em 1em 0;
}

/* Especificidad: 002 */
details img 
{
    width: 20em;
    height: 15em;
}

/* Especificidad: 001 */
video 
{
    margin: 1em 1em 1em 0;
    border-radius: 0.5em;
}

/* Especificidad: 002 */
li video 
{
    height: 30em;
    width: 25em;
}

/* Especificidad: 012 */
main > section:nth-of-type(2) 
{
    width: 30em;
    height: 30em;
}

/* Especificidad: 013 */
main section:nth-of-type(3) svg 
{
    width: 70em;
}
