/* DATOS PERSONALES
   - Nombre: Lara Haya Santiago 
   - UO: UO289684

   DESCRIPCIÓN DE LAS REGLAS
   - Disposición de los elementos del proyecto MotoGP-Desktop
*/

/* Especificidad: 001 */
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* Especificidad: 001 */
nav
{
    display: flex;
    column-gap: 1em;
}

/* Especificidad: 003 */
body > main > div
{
    width: 50em; 
    height: 50em;
}

/* Especificidad: 002 */
main > svg
{
    width: 30em; 
    height: 20em;
}

@media (min-width: 320px) and (max-width: 799px)
{
    /* Especificidad: 001, 001 */
    header, nav
    {
        flex-direction: column; /* Advertencia en el validador por redefinición: cambia el comportamiento de la propiedad */
        row-gap: 0.8em;
    }

    /* Especificidad: 013 */
    body p:first-of-type:has(a)
    {
        display: none;
    }

    /* Especificidad: 001, 001, 003 */
    video, img, article h2 + img
    {
        width:100%;
        height:auto;
    }

    /* Especificidad: 003 */
    body > main > div
    {
        width:100%; /* Advertencia en el validador por redefinición: cambia el valor de la propiedad */
    }

    /* Especificidad: 001 */
    audio 
    {
        width:100%;
    }
}

/* Especificidad: 003 */
main p:has(textarea) {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
