/*Lara Haya Santiago UO289684*/

/* Especificidad: 001 */
section
{
    /* Layout */
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    width: 40%;
    height: 40%;
    transition: transform .5s;
}

/* Especificidad: 001 */
article 
{
    /* Estilo */
    background-color: #ffffff;
    border: 0.2em solid #061255;

    /* Layout */
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* Especificidad: 001 */
h2
{
    /* Layout */
    width: 100%;
    margin: 1em;
}

/* Especificidad: 001 */
h3 
{
    /* Estilo */
    font-size: smaller;
}

/* Especificidad: 001 */
img 
{
    /* Layout */
    width: 90%;
    height: 90%;
    transform: rotateY(180deg);
}

/* Especificidad: 001 */
h3,
img
{
    /* Layout */
    position: absolute;
    backface-visibility: hidden;
}

/* Especificidad: 010 */
[data-state="flip"],
[data-state="revealed"]
{
    /* Layout */
    transform: rotateY(180deg);
}
