/*Lara Haya Santiago UO289684*/

/*
COLORES
    Texto: 061255
    Fondo: B2DDF0
    Fondo del header y enlaces externos: ffffff
    Texto de enlaces: 0056B3
    Boton inhabilitado: e3e8ec
*/

/* Especificidad: 001 */
main
{
    /* Layout */
    width: 70em;
}

/* Especificidad: 001 */
h2
{
    /* Layout */
    grid-column: span 4;
    text-align: center;
}

/* Especificidad: 001 */
section
{
    /* Layout */
    grid-column: span 4;
    display: flex;
    justify-content: center;
}

/* Especificidad: 002 */
body > section
{
    /* Layout */
    width: 70em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Especificidad: 001 */
form
{
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Especificidad: 001 */
input
{
    /* Layout */
    padding: 0.5em;
    border-radius: 1em;
}

/* Especificidad: 002 */
main p
{
    /* Estilo */
    font-weight: bold;

    /* Layout */
    text-align: center;
}

/* Especificidad: 001 */
ol
{
    /* Estilo */
    list-style-type: decimal;
}

/* Especificidad: 001 */
div
{
    /* Layout */
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Especificidad: 002 */
div div
{
    /* Estilo */
    color: #061255;
    background: #0007;
    border: 0.5em solid #000;

    /* Layout */
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0.5em;
}

/* Especificidad: 013 */
main.load div > div
{
    /* Layout */
    animation: in 0.5s forwards;
}

/* Especificidad: 033 */
main.load div > div.light:nth-child(2) 
{
    /* Layout */
    animation-delay: 0.5s;
}

/* Especificidad: 033 */
main.load div > div.light:nth-child(3) 
{
    /* Layout */
    animation-delay: 1.0s;
}

/* Especificidad: 033 */
main.load div > div.light:nth-child(4) 
{
    /* Layout */
    animation-delay: 1.5s;
}

/* Especificidad: 013 */
main.unload div > div
{
    /* Layout */
    animation: out 0.1s forwards;
}

@keyframes in
{
    to {background: red;}
}

@keyframes out
{
    /* Esta línea provoca dos advertencias en el validador por los siguientes motivos: 
    1. Redefinición de la propiedad background-color: es necesaria para apagar y encender las luces del semáforo. 
    2. Ningún color especificado: se especifica en el selector div div, por lo que no causa efectos laterales no deseados */
    to {background: #0007;} 
}
